---
layout: default
---
{% for post in page.posts %}
  <article class="box post post-excerpt">
    <header>
      <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <p>{{ post.subtitle }}</p>
    </header>
    <div class="info">
      <span class="date"><span class="month">{{ post.date | date: "%b" }}</span>
        <span class="day">{{ post.date | date: "%d" }}</span>
      </span>
      <span class="date"><span class="month">{{ post.date | date: "%Y" }}</span></span>
    </div>
    {{ post.content | strip_html | truncatewords:100 }}...<a href="{{ post.url | prepend: site.baseurl }}">Read More</a>
  </article>
{% endfor %}
